/******** Popular Products Section ********/
.popular-products
.underline {
    width: 50px;
    height: 3px;
    background-color: rgb(55, 177, 177);
}

.popular-products
.card {
    height: 100%;

}

.popular-products
.card
.wishlist-container
a {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid rgb(55, 177, 177);
    border-radius: 50%;
    padding: 5px 8px;
    visibility: hidden;
    transition: .5s ease-in-out;
    opacity: 0;
    color: rgb(55, 177, 177);
    background: whitesmoke;

}

.popular-products
.card:hover
.wishlist-container
a {
    visibility: visible;
    transition: .5s ease-in-out;
    opacity: 1;
}

.popular-products
.card:hover
.wishlist-container
a:hover {
    color: whitesmoke;
    background: rgb(55, 177, 177);
}

/********* Product Show Section ***********/
.product-show
.wishlist-container
a {
    position: absolute;
    right: 20px;
    top: 5px;
    border: 2px solid rgb(55, 177, 177);
    border-radius: 50%;
    padding: 5px 8px;
    visibility: hidden;
    opacity: 0;
    color: rgb(55, 177, 177);
    background: whitesmoke;
    transition: all .5s;
}

.product-show
.wishlist-container
a:hover {
    color: whitesmoke;
    background: rgb(55, 177, 177);
}

.content .product-img:hover .wishlist-container a {
    visibility: visible;
    opacity: 1;
    transition: .5s ease-in-out;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-p,
.btn-m,
quantity-btn {
    height: 50px;
}

.btn-p,
.btn-m {
    width: 35px;
    border-radius: 0;
    border: 1px solid gray;
}

.quantity-btn {
    width: 50px;
    text-align: center;
    border-radius: 0;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
}

.product-show
form
a {
    background: rgb(55, 177, 177) !important;
    border: none;
    /* border-radius: 0; */
    margin-left: 50px;
    padding-top: 13px;
    /* font-size: 18px; */
    /* line-height: 40px; */
}

.modal
.modal-body
#cartItems
.cartItem
a {
    cursor: pointer;
}

/****** CART SECTION *********/

/* Cart.show */


.breadcrumbs
h3
a {
    margin: 0 10px;
}

.cart-show
table
tbody
.btn-p,
.cart-show
table
tbody
.btn-m {
    width: 20px;
    height: 30px;
}

.cart-show
table
tbody
.quantity-btn {
    width: 30px;
}

.table th {
    border-top: none;
}

.table thead th {
    border-bottom: 4px solid gray;
}

.table-left {
    border-right: 1px solid gray;
}

.cart-show
.table-left
.total
td {
    border-top: 4px solid gray;
}

.cart-show
.table
.continue
td {
    border-top: 4px solid gray;
}

.cart-show
.table
.last
td {
    border-bottom: 4px solid gray;
}

.cart-show
form
hr {
    border:  2px solid gray;
}

.cart-show
form
label {
    font-size: 20px;
    padding-top: 5px;
}

.cart-show
form
hr {
    margin-top: 2px;
    margin-bottom: 30px;
}

/******* CHECKOUT ***********/

.checkout
.left-side {
    border-top: 2px solid #d3d3d3;
}

.checkout
.right-side {
    border: 2px solid #d3d3d3;
}


.password-hide {
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
}

.password-show {
    visibility: visible;
    opacity: 1;
    transition: .3s ease-in-out;

}

.checkout .table thead th {
    border-bottom: 4px solid #d3d3d3;
}

.checkout
.total
td {
    border-bottom: 4px solid #d3d3d3;

}

.checkout
.sub-total
td {
    border-top: 4px solid #d3d3d3;

}
/* .card-container {
    height: 500px;
} */


